.ComplaintItem{
    /* 
    box-shadow: 1px 1px 35px 0px rgb(187, 187, 187);
    border-radius: 4px;
    background-color: white;
    margin: 10px;
    transition: 0.2s transform ease-in-out;
    box-sizing: border-box; */
    display: flex;
    flex-flow: column;
    width: 410px;
    padding: 8px 12px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px 0px rgba(208, 208, 208, 0.35);
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
}
.ComplaintItem label{
    word-wrap: break-word;
}
.ComplaintItem:hover{
    transform: scale(1.1);
}
.red{
    border-top:5px solid rgb(214, 0, 0);
    border-bottom:5px solid rgb(214, 0, 0);
    /* border: 6px solid rgb(31, 31, 31); */
}
.green{
    border-top:5px solid rgb(3, 197, 3);
    border-bottom:5px solid rgb(3, 197, 3);
    /* border: 6px solid rgb(31, 31, 31); */
}
.yellow{
    border-top:5px solid #f9ca24;
    border-bottom:5px solid #f9ca24;
    /* border: 6px solid rgb(31, 31, 31); */

}
#acceptbtn{
    background-color: #6ab04c;
}
#closebtn{
    background-color: #eb4d4b;
}
.ComplaintItem div{
    display: flex;
    justify-content: space-around;
}
.ComplaintItem button{
    top: 0;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 10px 15px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    background: transparent;
    transition: all 0.4s ease 0s;
    box-shadow: 0px 13px 25px 0px rgba(172, 172, 172, 0.25);
}


@media(max-width:530px){
    .ComplaintItem{
        width:300px;
    }
}